<p class="alert alert-info m-1">
    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span><b>@Rep["Load"] @AddText</b>
</p>

@code
{
    [Parameter]
    public string? AddText{ get; set; }
}