@inherits BlazorLibrary.FolderForInherits.InputPattern
<div class="input-group">
    <input @attributes="@InputAttributes" class="form-control" @bind="@bindValue" @bind:event="oninput">
    @if(!string.IsNullOrEmpty(Value))
    {
        <button type="button" class="btn btn-outline-secondary" @onclick="ViewPassword"><span class="oi oi-eye mx-1"></span></button>
    }    
</div>
@if (!IsValid && !string.IsNullOrEmpty(ErrorMessage))
{
    <small class="text-danger">@ErrorMessage</small>
}

@code {
    void ViewPassword()
    {
        if (InputAttributes?.ContainsKey("type") ?? false)
        {
            InputAttributes["type"] = (InputAttributes["type"].ToString() == "text" ? "password" : "text");
        }
    }

}
